@mixin center-flex
  display: flex
  justify-content: center
  align-items: center


.article
  position: relative
  z-index: 5

  img.attachment-large
    max-width: 100%

  .subtitle
    margin-top: 2rem


.article-title
  text-align: center
  margin-top: 2rem
  font-weight: bold

.article-meta-container
  @include center-flex
  margin: 2rem 0

  @media (max-width: 400px)
    flex-wrap: wrap

.article-author
  @include center-flex
  flex-basis: 250px

  @media (max-width: 400px)
    margin-bottom: 1rem
    flex-basis: 100%

  .article-avatar
    border-radius: 100%
    margin-right: 20px

.article-date-container
  @include center-flex
  justify-content: space-evenly
  flex-grow: 1
  flex-wrap: wrap


  .article-date
    @media (max-width: 600px)
      font-size: 0.8rem
