.article-title
  text-align: center
  margin-top: 2rem

.article-avatar
  border-radius: 100%
  display: inline
  margin-right: 20px

@mixin article-meta
    display: flex
    justify-content: center
    align-items: center

    @media (max-width: 400px)
      width: 100%
      max-width: 100%

.article-meta-single
  width: 50%
  @include article-meta

.article-author
  width: 60%
  max-width: 300px
  @include article-meta

  @media (max-width: 400px)
    margin-bottom: 1rem

.article-date-container
  @include article-meta
  justify-content: space-evenly
  width: 40%

  @media (min-width: 500px)
    width: calc(100% - 300px)


  @media (max-width: 800px)
    flex-wrap: wrap


.article-date
  @media (max-width: 400px)
    font-size: 0.8rem
    // width: 100%
    // text-align: center


.article-meta-container
  margin: 2rem
  display: flex

  @media (max-width: 400px)
    flex-wrap: wrap
