.card
  background-color: $background-colour
  margin: 1rem auto
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px
  border-radius: 5px
  border: none
  overflow: hidden
  display: flex
  flex-direction: row
  align-items: stretch

  @media (min-width: 701px)
    &:nth-child(even)
      flex-direction: row-reverse

  @media (max-width: 700px)
    flex-direction: column

  &:hover
    filter: brightness(103%)

.card-image-wrapper
  flex-basis: 400px
  position: relative
  overflow: hidden

  img.attachment-large
    width: 100%
    height: 100%
    object-fit: cover

  @media (max-width: 700px)
    flex-basis: 300px


.card-text-container
  flex-basis: 500px
  flex-grow: 1
  padding: 1rem

  @media (max-width: 700px)
    flex-basis: auto

  .card-title
    text-align: center
    margin-bottom: 2rem

  .card-action
    text-align: center


.card-link-overlay
  text-decoration: none
  position: absolute
  inset: 0
  z-index: 2
