.header
  position: relative
  margin-bottom: 60px
  background-image: linear-gradient(to bottom, #43cea2ff 5%, #185a9dff 95%)

.header-background svg
    position: absolute
    bottom: 0
    width: 100%
    fill: #185a9dff
    transform: scaleX(-1) translateY(100%)

.header-menu ul
  display: flex
  padding: 0
  max-width: calc(45vw - 110px)

  li
    margin: 0 0.5rem
    a
      color: white
      text-decoration: none
      font-size: 1.5rem
