$icon-width: 50px
$icon-height: 50px

form.searchform
  position: absolute
  right: 0
  transition: width 0.5s ease-in-out
  border-radius: 20px
  overflow: hidden
  height: $icon-height
  width: $icon-width

.search-text
  +clear-style

  height: $icon-height
  width: 100%
  position: absolute
  right: 0
  color: $text-color
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50px, rgba(255, 255, 255, 0.7) 35%)
  font-size: 30px
  border-radius: 20px
  padding-left: 20px
  padding-right: 75px
  box-sizing: border-box
  outline: none
  transition: all 2s

.search-toggle
  +clear-style

  position: absolute
  right: 0

.search-empty
  +clear-style

  position: absolute
  right: $icon-width
  height: $icon-height
  opacity: 0
  z-index: 10
  transition: opacity 0.2s ease-in-out

.search-icon, .close-icon
  height: $icon-height
  fill: $text-color-inverse
  transition: transform 0.1s ease-in-out

  &:hover, &:focus
    transform: scale(1.1)

.search-submit
  +clear-style

  display: none
  position: absolute
  right: 0
  z-index: -1

form.searchform:focus-within, form.searchform:focus
  width: 100%

  .search-submit
    display: initial
    z-index: 20

  .search-toggle
    display: none

  .search-empty
    opacity: 1

    // delay appearing while the menu is opening.
    transition: opacity 0.2s 0.3s ease-in-out
