form.searchform
  height: 50px
  width: 50px
  position: absolute
  right: 0
  transition: width 0.5s ease-in-out
  border-radius: 20px
  overflow: hidden

form.hide-submit input[type="submit"]
  display: none

.search-text
  outline: none
  position: absolute
  right: 50px
  border: none
  background-color: transparent
  height: 50px
  font-size: 30px
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6)60%, rgba(0,0,0,0))
  border-radius: 20px
  padding-left: 20px
  padding-right: 50px
  box-sizing: content-box

.search-toggle
  position: absolute
  right: 0
  padding: 0
  border: none
  background-color: transparent

.search-close
  position: absolute
  right: 50px
  border: none
  background-color: transparent
  height: 50px
  padding: 0
  opacity: 0
  transition: opacity 0.2s ease-in-out


.searchsubmit-container
  display: none

form.search-open
  width: 100%
  .search-text
    width: calc(100% - 100px)
    left: 20px
    right: 0

  .searchsubmit-container
    display: inline-block
    position: absolute
    right: 0

  .search-toggle
    display: none

  .search-close
    opacity: 1
    transition: opacity 0.2s 0.3s ease-in-out

.search-icon, .close-icon
  height: 50px
  fill: white
  transition: all 0.1s ease-in-out
  cursor: pointer

  &:hover
    transform: scale(1.1)
