$text-color: #151316
$text-color-muted: #5F5562
$text-color-extra-muted: #746878
$text-color-inverse: white
$text-color-inverse-muted: #e9e9e9

$background-color: #FCF7F8

$accent1: #30cfd0
$accent2: #330867
